   
@charset "utf-8";
  
body, *{font-family: 'Noto Sans KR', sans-serif;}
a:hover, a:focus, a:visited{font-style:normal;text-decoration:none;background:none;}
em{font-style:normal;}
button{border:none;text-shadow:none;box-shadow:none;}
li{list-style: none;}
ol,ul{padding:0;}
::selection{background-color:transparent;}
input:-internal-autofill-selected{background:transparent !important;}
.btn, .btn:hover, .btn:focus{padding:10px 14px;margin:3px;font-family:'Noto Sans KR';font-weight:400;border:none;text-shadow:none;box-sizing: border-box;height: 40px;font-size: 14px;line-height:1;}
.btn-sm, .btn-sm:hover, .btn-sm:focus{padding:7px;height:30px;font-size:13px;}
.btn-success, .btn-success:hover, .btn-success:focus{background:#ff665b;}
.btn-danger, .btn-danger:hover, .btn-danger:focus{background:#739af0;}
.btn-primary, .btn-primary:hover, .btn-primary:focus{border:2px solid #ff665b;background:#fff;color:#ff665b;}
.btnmr, .btnmr:hover, .btnmr:focus{margin-left:20px;}
 
.center{text-align:center !important;}
.right{text-align:right !important;}
.left{text-align:left !important;}
.floatl{float:left;}
.floatr{float:right;}

.layout{position:relative; max-width:1200px;margin:0 auto;}


/* header  */
.header{position: absolute;left:0;top: 40px;width:100%;z-index:9999;}
.header .top-left{display:none;}
.header .logo{display:inline-block;position:relative;left:4%;}
.header .logo a{display:block;font-family: Pacifico;color:#ff665b;font-size:45px;}

.header .navbox{position:absolute;right:calc(4% + 150px);top:0;}
.header .navbox .nav{}
.header .navbox .nav li{display:inline-block;}
.header .navbox .nav li a{display:block;line-height:1.2;position:relative;color:#000;font-size: 20px;font-weight: 600;letter-spacing: -0.5px;}
.header .navbox .nav li a:before{width:0;overflow:hidden;position:absolute;color:#ff665b;transition:0.5s;}
.header .navbox .nav li a:after{width:0;overflow:hidden;position:absolute;color:#ff665b;transition:0.5s;left: 15px;top: 3px;font-size: 23px;padding: 7px 0;}
.header .navbox .nav li:nth-child(1) a:before{content:'About';}
.header .navbox .nav li:nth-child(2) a:after{content:'jam';font-family:'Pacifico';}
.header .navbox .nav li:nth-child(2) a:before{content:'search';left: 52px;top: 13px;}
.header .navbox .nav li:nth-child(3) a:before{content:'Notice';}
.header .navbox .nav li:nth-child(4) a:before{content:'Community';}
.header .navbox .nav li:nth-child(5) a:before{content:'Contact';}
.header .navbox .nav li a:hover:before,
.header .navbox .nav li a:focus:before{width:100%;}
.header .navbox .nav li a:hover:after,
.header .navbox .nav li a:focus:after{width:100%;padding:7px 20px;left: -5px;}
.header .navbox .nav li a:hover,
.header .navbox .nav li a:focus{background-color:transparent;}
.header .navbox .nav li a span{font-family:'Pacifico';font-size:23px;}
.header .top-right{position:absolute;right:4%;top: 0;}
.header .top-right .login{display: inline-block;margin-right: 15px;vertical-align: middle;}
.header .top-right .login.open .dropdown-menu{display:inline-block;top:50px;}
.header .top-right .login .login-btn{display:inline-block;color:#ff665b;font-size: 40px;}
.header .top-right .login .unamebox{display:none;} 
.header .top-right .menu{display: inline-block;vertical-align: middle;}
.header .top-right .menu .menu-btn{position:relative;display:inline-block;width: 37px;height: 28px;text-align: left;}
.header .top-right .menu .menu-btn:before{display:inline-block;position:absolute;left:0;top:0;width:100%;height: 4px;background:#ff665b;content:'';transition:0.5s;}
.header .top-right .menu .menu-btn:after{display:inline-block;position:absolute;left:0;bottom:0;width: 50%;height: 4px;background:#ff665b;content:'';transition:0.5s;}
.header .top-right .menu .menu-btn:hover:before,
.header .top-right .menu .menu-btn:focus:before{top:12px;}
.header .top-right .menu .menu-btn:hover:after,
.header .top-right .menu .menu-btn:focus:after{bottom:12px;}
.header .top-right .menu .menu-btn span{position:absolute;top:calc(50% - 2px);display:inline-block;width: 80%;height: 4px;background:#ff665b;}
.header .top-right .menu .menu-box{display:none; position: fixed;left: 20%;top: calc(50% - 300px);z-index:10;text-align: left;width: 60%;line-height:1.4;}
.header .top-right .menu .close-btn{display:none; position:absolute;top:-6px;right:-7px;color:#fff;font-size:60px;z-index:10;}
.header .top-right .menu .close-btn:hover,
.header .top-right .menu .close-btn:focus{animation:rotate 0.7s ease-out forwards;}
.header .top-right .menu .menu-box .mypage{margin-top: 100px;display:block;}
.header .top-right .menu .menu-box .mypage .mypage-btn{display: inline-block;padding: 15px 30px;border-radius:30px;background:#fff;color:#ff665b;font-size: 22px;font-weight: 700;}
.header .top-right .menu .menu-box .mypage .mypage-btn .bx{font-size:30px;vertical-align: middle;margin-right: 5px;}
.header .top-right .menu .menu-box .nav li{display:block;}
.header .top-right .menu .menu-box .nav li a{display:block; position:relative; padding:0;color:#fff;font-size: 65px;font-weight: 800;transition:0.5s;}
.header .top-right .menu .menu-box .nav li a span{font-family: Pacifico;}
.header .top-right .menu .menu-box .nav li a:hover,
.header .top-right .menu .menu-box .nav li a:focus{background: none;-webkit-text-stroke: 2px #fff;color: transparent;}
.header .top-right .menu .menu-box .nav li a:hover span,
.header .top-right .menu .menu-box .nav li a:focus span{-webkit-text-stroke:0;color:#fff;}

.header .top-right .wbg{display:inline-block;position:fixed;right:-20%;top:0;width:0;height:100%;background:#fff;z-index:1;transition:0.5s;transform:skew(-20deg);}
.header .top-right .wbg .box_count{height: 100%;display: inline-block;}
.header .top-right .wbg .box_count span{opacity:0;transition:0.5s;position: absolute;left:0;bottom: calc(50% - 320px);display:inline-block;width:800px;height:500px;background-repeat:no-repeat;}
.header .top-right .wbg .box_count.active span{opacity:1;left:-140px;transform:skew(20deg);}
.header .top-right .wbg .box_count:nth-child(1) span{background-image:url(/resources/images/common/nav01.png);}
.header .top-right .wbg .box_count:nth-child(2) span{background-image:url(/resources/images/common/nav02.png);}
.header .top-right .wbg .box_count:nth-child(3) span{background-image:url(/resources/images/common/nav03.png);}
.header .top-right .wbg .box_count:nth-child(4) span{background-image:url(/resources/images/common/nav04.png);}
.header .top-right .wbg .box_count:nth-child(5) span{background-image:url(/resources/images/common/nav05.png);}


.header:before{display:inline-block;position:absolute;left:0;top:-40px;width:100%;height:0;background:linear-gradient(#ff665b,#dc4035);content:'';z-index:1;transition:0.5s;}
body.on .header:before{height:100vh;}
body.on .header .top-right .menu .menu-box{display:inline-block;}
body.on .header .top-right .menu .close-btn{display:inline-block;}
body.nava .header .top-right .wbg{width:60%;}

/* contents  */
.contents{position:relative;min-height:918px;padding:200px 0 100px;line-height:1.4;}
.h2{position:relative; display:block;margin-bottom:70px;padding-bottom:20px;border-bottom:2px solid #000;font-size: 25px;color: #000;font-weight: 600;}
.pathwrap{position:absolute;right:0;top:0;}
.pathwrap .pathnav{}
.pathwrap .pathnav li{display:inline-block;vertical-align:middle;line-height:1.2;}
.pathwrap .pathnav li a{display:inline-block;margin-left:10px;color:#222;font-size:16px;}
.pathwrap .pathnav li.home{position:relative;}
.pathwrap .pathnav li:after{display:inline-block;font-size:15px;content:"\ec8f";font-family:'boxicons'!important;}
.pathwrap .pathnav li:last-child:after{display:none;}

/* footer  */
.jam-circle{position:fixed;left:3%;bottom:4%;}
.jam-circle a{display:inline-block;}
.jam-circle span{display:inline-block;width:130px;height:130px;}
.jam-circle .circle{background:url(/resources/images/common/jambox_img04.png)center no-repeat;animation:rotate 20s linear infinite;}
.jam-circle .jam{position:absolute;left:0;background:url(/resources/images/common/jambox_img05.png)center no-repeat;transition:0.2s;}
.jam-circle a:hover .jam,
.jam-circle a:focus .jam{background:url(/resources/images/common/jambox_img03.png)center no-repeat;}
.footer{width:100%;background: #444343;text-align: center;}
.footer p{color:#969696;padding: 50px 0;}


@media (max-width: 1600px) {
   .jam-circle{display:none;}
}


@keyframes rotate{
   0%{transform:rotate(0deg);}
   100%{transform:rotate(360deg);}
}