@charset "utf-8";

.form-group{position:relative;margin-bottom:20px;}
.form-group label{display:inline-block;vertical-align: middle;width: 17%;font-size: 17px;}
.form-group.fa{padding-left:130px;}
.form-group.fa label{position:absolute;left:0;top:7px;}
.form-group select{border: 0;height: 40px;margin-right:10px;border-bottom: 2px solid #ddd;}
.form-group select:focus{border: 0;height: 40px;border-bottom: 2px solid #000;}
.form-group textarea{width:65%;min-height:150px;padding:10px;vertical-align:top;border:2px solid #ddd;}
.form-group #writer{border:none;}
.form-group .textview{padding:20px 0; border-top:1px solid #ddd;} 
.form-group .form-control{display:inline-block;vertical-align: middle;width: 63%;}
.form-control{height:40px;border:none;border-bottom:2px solid #dadada;background: transparent;box-shadow: none;border-radius: 0;transition:0.5;}
.form-control:focus{border-color:none !important;border-bottom:2px solid #000;box-shadow:none;}
.form-control::placeholder{font-family:'Noto Sans KR';color:#c3c3c3;font-size:16px;font-weight:200;}
.formcontrol{display:inline-block; width:65%;}
.form-btn{margin-top: 70px;padding-top: 30px;border-top: 2px solid #ddd;text-align: center;}
.form-width{padding:0;}
.boardcontents li{list-style:unset;}
.boardcontents em{font-style:italic;}

/* login */
.login-box{max-width:900px;margin:0 auto;}
.login-box .tit-box{position: relative;margin-bottom: 50px;}
.login-box .tit-box:before{display:inline-block;position:absolute;right:0;top: 60%;width: 70%;height: 1px;background: #000;content:'';}
.login-box .tit-box strong{margin-right: 10px;font-family:'Pacifico';color:#000;font-size: 50px;}
.login-box .tit-box span{font-size: 25px;font-weight: 800;}
.login-box .item-box{}
.login-box .item-box .item{position: relative;display:inline-block;vertical-align:top;width: 45%;}
.login-box .item-box .login-item{margin-right: 7%;}
.login-box .item-box .login-item:before{display:inline-block;position:absolute;right:-10%;top:0;width:1px;height:100%;/* background:#ddd; */content:'';}
.login-box .item-box .login-item .formbox label{font-size:20px;margin-bottom:6px;}
.login-box .item-box .login-item .formbox input{margin-bottom:15px;}
.login-box .item-box .login-item .formbox .loginbtn{margin-top:15px;padding: 20px;width: 100%;background:#ff665b;color: #fff;font-size: 20px;font-weight: 500;}
.login-box .item-box .regis-item{width: 47%;padding:50px 0;margin: 30px 0;text-align:center;background: #f9f9f9;}
.login-box .item-box .regis-item span{display:block;font-size:16px;}
.login-box .item-box .regis-item span em{font-family:'Pacifico';font-size:20px;}
.login-box .item-box .regis-item .regisbtn{display:block;width: 80%;margin-top:20px;padding: 17px;border: 2px solid #000;font-size:17px;font-weight:600;background: #fff;margin-left: 10%;}


/* register */
.register{max-width: 900px;margin:0 auto;padding-left: 150px;}
.register .form-group select{width: 63%;}
.register #userBirthday{padding:0 10px;width:63%;border:1px solid #ddd;}
.register .mail_check_wrap{margin:10px 0 10px 17%;}
.register .mail_input_box_warn{display:none;width:67%;margin-left:19%;}
.register #mail_check_input_box_warn:before,
.register .mail_input_box_warn:before{display:inline-block;content:"\e9a8";font-family:'boxicons';font-size: 17px;position: relative;top: 2px;margin-right: 5px;}
.register #mail_check_input_box_warn.correct,
.register .mail_input_box_warn.on{display:inline-block;color:#387dfb;}
.register #mail_check_input_box_warn.incorrect,
.register .mail_input_box_warn.not{display:inline-block;color:#ff4646;}
.register #mail_check_input_box_warn.incorrect:before,
.register .mail_input_box_warn.not:before{content:"\ea83";transform:rotate(180deg);}
.register #mail_check_input_box_warn{display:none;margin-left:3%;}
.register .mail_check_input_box{display:inline-block;width:50%;}
.register .mail_check_input_box .mail_check_input{width:100%;}

.register .search-cont{margin:20px 0;}
.register .search-cont .search-item{width:100%;text-align:center;}
.register .search-cont .search-item .searchobj li{display:inline;}
.register .search-cont .search-item input[type="radio"] + label{position:relative; width:23%;height:60px;padding:18px 5px;font-size:16px;}
.register .search-cont .search-item input[type="radio"] + label:hover{}
.register .search-cont .search-item input[type="radio"]:checked + label{padding-left: 30px;}
.register .search-cont .search-item input[type="radio"]:checked + label:before{position:absolute;left: 14px;top: 16px;}
.register .keyword-box{margin-bottom:30px;color:#000;text-align: center;}
.register .keyword-box .keyword-tit{text-align: center;}
.register .keyword-box .keyword-tit span{display:block;font-size: 20px;}
.register .keyword-box .keyword-tit .tit-name{font-weight: 800;font-size: 25px;color: #ff665b;display: inline-block;margin-right: 5px;}
.register .keyword-box .keyword-cont .keyword-item{display:block;margin-bottom:5px; text-align: center;}
.register .keyword-box .keyword-cont .keyword-item .keyword-img{display: block;width: 230px;height: 230px;margin: 10px auto;overflow: hidden;}
.register .keyword-box .keyword-cont .keyword-item .keyword-txt{font-size: 17px;}
.register .keyword-box .keyword-cont .keyword-key:before{display:inline-block;content:'#';}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k1{background:url(/resources/images/content/keyimg_01.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k2{background:url(/resources/images/content/keyimg_02.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k3{background:url(/resources/images/content/keyimg_03.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k4{background:url(/resources/images/content/keyimg_04.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k5{background:url(/resources/images/content/keyimg_05.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k6{background:url(/resources/images/content/keyimg_06.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k7{background:url(/resources/images/content/keyimg_07.jpg);}
.register .keyword-box .keyword-cont .keyword-item .keyword-img.k8{background:url(/resources/images/content/keyimg_08.jpg);}
.register .register-step{margin-bottom:50px;}
.register .register-step li{position:relative;display:inline-block;width:30%;margin-right:3%;color:#ddd;font-size:20px;text-align:center;}
.register .register-step li:last-child{margin-right:0;}
.register .register-step li:after{display:inline-block;position: relative;font-size: 25px;content:"\ec8f";font-family:'boxicons'!important;left: 18%;font-weight: 100;vertical-align: middle;}
.register .register-step li:last-child:after{display:none;}
.register .register-step li span{display:inline-block;vertical-align:middle;}
.register .register-step li strong{display:inline-block;vertical-align:middle;font-weight: 600;}
.register .register-step li.on{font-weight: 700;color:#000;}
.register .scrollbox{width: 82%;height: auto;max-height: 150px;overflow-y: scroll;border: 2px solid #ddd;padding: 20px;}
.regagree .form-group label{vertical-align:top;}
.regagree .agreebox input{margin:0 0 0 20px;}
.regagree .btn-success{height:auto;padding:20px 25px 20px 30px;font-size:18px;font-weight:600;}
.regagree .btn-success .bx{margin-left:10px;}
.regis-success{padding:30px;text-align:center;background:url(/resources/images/content/register_success.jpg)no-repeat center;}
.regis-success .resu-tit{display:inline-block;padding:15px 0;background:#fff;}
.regis-success span{display:block;margin:5px 0;font-size:17px;}
.regis-success span em{font-family: 'Pacifico';font-size:20px;}

/* board */
.search{position: relative;text-align:right;padding:0 0 30px;}
.search .sbox{float:none;display:inline-block;}
.search .searchbtn{background:none;font-size: 25px;display: inline-block;position: absolute;right: 15px;top: 5px;color: #000;}

.table-board{text-align:center;}
.table-board th{text-align:center;}
.table-board td a{display:block;color:#000;}
.table-board .mbticate span{display:inline-block;min-width:50px;padding:3px 8px;border-radius:5px;color:#fff;}
.table-board .mbticate[class*="IN"] span{background:#5a8ce6;}
.table-board .mbticate[class*="IS"] span{background:#48b14d;}
.table-board .mbticate[class*="EN"] span{background:#f44336;}
.table-board .mbticate[class*="ES"] span{background:#ff9800;}
.table-board .bxs-save{font-size:18px;vertical-align:middle;color:#404040;}

.paging-box{text-align:center;}
.paging-box .pagination li.info a{background:#337abe;color:#fff;}

.board-tit{position:relative;}
.board-tit .wdate{position:absolute;right:0;top:65px;text-align:right;}
.board-tit .wdate span{position:relative;display:inline-block;margin-left:10px;color:##7d7d7d;font-size:15px;}
.board-tit .wdate span .bx{color:#adadad;font-size:16px;margin-right:5px;}
.board-tit .category{position:absolute;left: 0px;top: 65px;}
.board-tit .category span{display:inline-block;padding: 5px 10px;border-radius:5px;color: #fff;}
.board-tit .category span[class*="IN"]{background:#5a8ce6;}
.board-tit .category span[class*="IS"]{background:#48b14d;}
.board-tit .category span[class*="EN"]{background:#f44336;}
.board-tit .category span[class*="ES"]{background:#ff9800;}
.filewrap{display:inline-block;position:relative;}

.fileAdd_btn{vertical-align:top;}
.uploadbox{display:inline-block;width:80%;margin-left:30px;}
.uploadbox .fileinput{display:inline-block;width:80%;}

#reply{padding:30px;margin:50px 0;background:#f9f9f9;}
#reply .replyList li{padding:10px 0;margin-bottom:10px;border-bottom:1px solid #ddd;}
#reply .replyList li:last-child{border:none;}
#reply .btn-box{float:right;}
#reply .replyForm{padding:10px;background:#fff;}
#reply .reply-write{display:inline-block;width:100%;}
#reply .reply-write .control-label{padding-top:15px;}
#reply .reply-write .replylogin{display:inline-block;padding-top:15px;}

.replyupvalue{display:flex;width:100%;height:100vh;jusct-content:center;align-items:center;}
.replyupvalue form{width:100%;}


/* search */
.search-cont option{line-height:2;}
.search-cont .mbtibox{margin-bottom:20px;}
.search-cont .search-txtbox{display:inline-block;width:23%;margin-right:5%;vertical-align: middle;}
.search-cont .search-txtbox .search-tit{display:block;margin-bottom:5px;font-size:35px;letter-spacing:-1px;font-weight:800;}
.search-cont .search-txtbox .seaerch-txt{display:block;font-size:15px;}
.search-cont .search-item{position:relative; display:inline-block;width:67%;text-align:center;vertical-align: middle;}
.search-cont .search-item .mtbi-txt{position:absolute;left:30px;bottom: -38px;font-size: 15px;width: 150%;text-align: left;color: #7b7b7b;}
.search-cont .search-item .mtbi-txt.on:before{content: "\ec85";font-family: 'boxicons'!important;margin-right: 5px;font-size: 18px;top: 2px;position: relative;}
.search-cont .mbtibtn{position:relative;display:inline-block;width:320px;padding:3px 0;text-align:center;margin-top:30px;color: #59aeaf;font-weight: 400;transition:0.5s;}
.search-cont .mbtibtn:before{display:inline-block;width: 25px;height: 25px;margin-right: 7px;background:url(/resources/images/main/mbti_logo.png) center no-repeat;background-size:100%;vertical-align: middle;content:'';}
.search-cont .mbtibtn:after{display:inline-block;position:absolute;left: -5%;top: -25%;width:0;height: 150%;background: #51aaab;content:'';z-index: -1;transition:0.5s;border-radius:35px;}
.search-cont .mbtibtn:hover{color:#fff;}
.search-cont .mbtibtn:hover:after{width:110%;}
.search-cont .mbtibtn span{display:inline-block;}
.search-cont .form-group{display: inline-block;float: none;}
.search-cont .form-group select{height:50px;width:100%;font-size:18px;font-weight:700;color:#000;}
.search-cont .submitbox{width: 67%;margin-left: 29%;margin-top: 60px;}
.search-cont .submitbox .btn{width:100%;min-height: 100px;font-size: 30px;border-radius: 20px;font-family:'Pacifico';}
.search-cont .search-item input[type="radio"]{display:none;}
.search-cont .search-item input[type="radio"] + label{display:inline-block;padding: 17px 20px;border-radius:50px;cursor:pointer;border:2px solid #ff665b;text-align: center;line-height: 1;position: relative;margin:5px;width: auto;transition:0.3s;}
.search-cont .search-item input[type="radio"] + label:hover,
.search-cont .search-item input[type="radio"]:checked + label{background:#ff665b;color:#fff;border-color: #fff;}
.search-cont .search-item input[type="radio"]:checked + label{padding-left: 44px;}
.search-cont .search-item input[type="radio"]:checked + label:before{position:absolute;left: 14px;top: 13px;display:inline-block;content:"\ec85";font-family:'boxicons'!important;font-size: 25px;font-weight: 500;vertical-align: middle;margin-right: 5px;color:#fff;}


.search-result{}
.search-result .h2{margin-bottom:0;}
.search-result .mtbi-box{animation: flip 0.2s ease-in 4;display:inline-block;padding:50px 80px;margin-bottom: 20px;text-align:center;box-shadow: 0 0 20px rgb(0 0 0 / 8%);background:#fff;border-radius:30px;}
.search-result .mtbi-box .wbox{opacity:0;animation:opa 1s 1.3s linear alternate forwards;}
@keyframes flip{
    0%{transform:scaleX(1);}
    100%{transform:scaleX(-1);}
}
@keyframes opa{
    0%{opacity:0;}
    100%{opacity:1;}
}
.search-result .mtbi-box .mbti-img{display:block;width:230px;height:230px;margin:20px auto;}
.search-result .mtbi-box .mbti-img.key1{background:url(/resources/images/content/keyimg_01.jpg);}
.search-result .mtbi-box .mbti-img.key2{background:url(/resources/images/content/keyimg_02.jpg);}
.search-result .mtbi-box .mbti-img.key3{background:url(/resources/images/content/keyimg_03.jpg);}
.search-result .mtbi-box .mbti-img.key4{background:url(/resources/images/content/keyimg_04.jpg);}
.search-result .mtbi-box .mbti-img.key5{background:url(/resources/images/content/keyimg_05.jpg);}
.search-result .mtbi-box .mbti-img.key6{background:url(/resources/images/content/keyimg_06.jpg);}
.search-result .mtbi-box .mbti-img.key7{background:url(/resources/images/content/keyimg_07.jpg);}
.search-result .mtbi-box .mbti-img.key8{background:url(/resources/images/content/keyimg_08.jpg);}
.search-result .mtbi-box .mbti-tit{font-size:18px;color:#000;}
.search-result .mtbi-box .mbti-key{display:block;color:#ff665b;}
.search-result .mtbi-box .job-box{display:block;margin:15px 0;}
.search-result .mtbi-box .job-box span{display:block;font-size:20px;}
.search-result .mtbi-box .job-box strong{position:relative; font-size:30px;font-weight:800;}
.search-result .mtbi-box .job-box strong:before{display:inline-block;position:absolute;left:0;top: calc(50% - -3px);width:100%;height: 14px;background: #ffc1bd;content:'';z-index:-1;transform: sKewX(-39deg);}
.search-result .snsbox{text-align:center;margin-bottom: 20px;}
.search-result .snsbox .snsList{display:inline-block;width: 100%;}
.search-result .snsbox li{display:inline-block;margin: 0 4px;}
.search-result .snsbox li a{display:inline-block;width: 35px;height: 35px;border-radius:50%;background: #838994;font-size: 0;vertical-align: middle;padding: 7px;text-align: center;}
.search-result .snsbox li a .bx{font-size: 19px;color:#fff;vertical-align: middle;display: inline-block;}
.search-result .infobox{margin-bottom: 80px;}
.search-result .keyword-info .subbox{text-align: center;}
.search-result .keyword-info .subbox .subkeyword{display: inline-block;margin: 30px 0 10px;font-size: 16px;color: #fff;background: #618ff1;border-radius: 5px;padding: 5px 11px 9px 11px;}
.search-result .keyword-info .subbox .subcont{display: block;font-size: 20px;margin: 10px 0;}
.search-result .keyword-info .subbox .subjob{display: block;font-size: 16px;color: #3e3e3e;max-width: 450px;margin: 10px auto;}
.search-result .job-info .nodata{display:block;}
.search-result .job-info a{color:#000;}

data{font-size:0;}
jobs{margin: 20px 0;padding: 0 0 20px;cursor:pointer;font-size:0;display: block;position: relative;border-bottom: 1px dashed #b5b5b5;}
jobs url{}
jobs title{display: inline-block;font-size:16px;font-weight: 500;margin-bottom: 3px;}
jobs upjong{display: block;font-size: 15px;color: #383838;position: absolute;right: 0;top: 20px;}
jobs jcjong{display:inline-block;}
jobs keyword{display: block;font-size: 15px;}
jobs opendate{}
jobs closedate{display:inline-block;position: absolute;right: 0;top: 0;font-size:13px;color:#848484;}
jobs closedate:before{display:inline-block;margin-right:5px;content:'마감일 : ';}


/* about */
.about .cont-tit .title{display:block; font-family:'Pacifico';color:#000;}
.about .cont01{}
.about .cont01 .cont-tit .title{margin-bottom:20px;font-size: 70px;}
.about .cont01 .cont-tit .text{font-size:20px;}
.about .cont01 .cont-tit .text em{font-family:'Pacifico';font-size:27px;color:#ff4d40;}
.about .cont01 .cont-item{margin: 100px 0 150px;text-align:center;}
.about .cont02 .cont-tit .title{font-size:60px;}
.about .cont02 .cont-item{margin: 50px 0;}
.about .cont02 .cont-item ul{font-size:0;text-align:center;margin: 0;padding: 0;}
.about .cont02 .cont-item ul li{position:relative; display:inline-block;width: calc(33.3% - 80px);height: 320px;margin: 0 40px;vertical-align: top;padding: 20px;background:#fff;border-radius:30px;box-shadow: 0 0 20px rgb(0 0 0 / 5%);}
.about .cont02 .cont-item ul li:before{display:inline-block;position:absolute;right: -54px;top: calc(50% - 18px);content: "\eb43";font-size: 30px;font-family:'boxicons'!important;color: #ddd;}
.about .cont02 .cont-item ul li:last-child:before{display:none;}    
.about .cont02 .cont-item ul li .num{display:block; font-size:50px;font-family:'Pacifico';color:#ddd;}
.about .cont02 .cont-item ul li .tit{display:block;font-size:20px;}
.about .cont02 .cont-item ul li .txt{display:block;font-size:17px;}
.about .cont02 .cont-item ul li img{position: relative;left: calc(50% - 150px);bottom: -20px;}
.about .cont03{margin: 150px 0 100px;text-align:center;}
.about .cont03 .jamsearch-btn{display:inline-block;padding:20px 40px;border-radius: 50px;color:#fff;font-size: 22px;background-image: linear-gradient(45deg, #ff5528, #ff7f5d);background-size: 100% 1100%;font-weight: 700;letter-spacing: -1px;background-position: 0% 0%;transition:0.5s;}
.about .cont03 .jamsearch-btn:hover{background-position: 0% 100%;}
.about .cont03 .jamsearch-btn .jamicon{display:inline-block;width: 25px;height: 25px;margin-left: 10px;margin-top:-3px;background: url(/resources/images/content/about_img05.png)center no-repeat;background-size:100%;vertical-align: middle;}

/* contact */
.cha-tit{position:relative;}
.cha-tit:before{position:absolute;left: 5px;bottom: -40px;width: 50px;height:5px;background:#000;content:'';}
.cha-tit strong{font-family:'Pacifico';display:block;font-size: 50px;color: #000;line-height: 1.3;}
.cha-box{margin: 5% 0 7% 20%;width: 80%;}
.cha-box .probox{display:inline-block;width: 55%;vertical-align: middle;cursor:pointer;}
.cha-box .probox .imgbox{position:relative;display: inline-block;}
.cha-box .probox .imgbox .img{display:inline-block;width:250px;height:250px;background:url(/resources/images/content/pro_img01.png)center no-repeat;}
.cha-box .probox .imgbox .imgtxt{position:absolute;left: calc(50% - 35px);bottom: -10px;font-size:30px;font-weight:900;text-shadow:-3px -3px 0 #fff,0 -3px 0 #fff,3px -3px 0 #fff,3px  0   0 #fff,3px  3px 0 #fff,0    3px 0 #fff,-3px  3px 0 #fff,-3px  0   0 #fff;}
.cha-box .probox .txtbox{display: inline-block;}
.cha-box .probox .txtbox .name{font-family:'Pacifico';font-size: 28px;}
.cha-box .probox .txtbox ul{margin:20px 0;}
.cha-box .probox .txtbox ul li{position:relative; padding:3px 0 3px 23px;}
.cha-box .probox .txtbox ul li:before{display:inline-block;position:absolute;left:0;top:1px;content:"\ee8b";font-family:'boxicons';font-size:18px;color:#74737f;}
.cha-box .probox .txtbox ul li:nth-child(2):before{content:"\ea23";}
.cha-box .probox .txtbox ul li:nth-child(3):before{content:"\e9cb";}

.cha-box .probox .txtbox ul li a{color:#000;}
.cha-box .talkbox{display:inline-block;width: 40%;vertical-align: middle;margin-right: 3%;margin-top: -20%;transform:scale(0);opacity:0;transition:0.5s;}
.cha-box .talkbox.on{transform:scale(1);opacity:1;}
.cha-box .talkbox .txtbox{text-align:center;width:415px;height:215px;padding: 38px 33px 38px 0;background: url(/resources/images/content/talk_box.png)center no-repeat;}
.cha-box .talkbox .txtbox .tit{display:block;font-family:'Pacifico';font-size: 20px;margin: 12px 0 5px;}
.cha-box .talkbox .txtbox .txt{display:block;}





