@charset "utf-8";

.header{text-align:center;}
.header .top-left{position:absolute;left:4%;top: 0;display:inline-block;}
.header .top-left a{display:block;width:55px;height:55px;background:url(/resources/images/main/mbti_logo.png) center no-repeat;font-size:0;}
.header .logo{left:auto;}
.header .navbox{display:none;}

.main-wrap{height: 100%;position: relative;}
.main-wrap:before{display:inline-block;position: absolute;right: -10%;top: calc(50% - 315px);width:1057px;height:572px;background:url(/resources/images/main/main_img02.png) center no-repeat;content:'';z-index: -1;}
.main-wrap .layout{position:relative;display:flex;height: 100%;max-width: 1400px;}
.main-txt{display:flex;justify-content: center;align-items: center;height: 100%;}
.main-txt .title-box{line-height: 1.2;letter-spacing: -1px;}
.main-txt .title-box .title-b{display:block;font-size: 70px;font-weight: 700;color:#000;}
.main-txt .title-box .title-b span{color:#ff5041;font-weight: 800;}
.main-txt .title-box .title-s{display:block;margin-top:20px;font-size:22px;color:#000;}
.main-txt .title-box .title-s .font-s{margin-right:5px;font-size:27px;font-family: Pacifico;}
.main-txt .title-box .btn-box{display:block;margin-top:30px;}
.main-txt .title-box .btn-box .btn-jam{display:inline-block;padding:15px 30px;border-radius:10px;background:#ff5041;color:#fff;font-size:20px;}

.main-img{position: absolute;right: 0;top: calc(50% - 160px);}









