<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- 회원 리스트 조회 -->
	<select id="list" resultType="com.mbeti.domain.MemberVO">
		SELECT *
		FROM tbl_USER
		ORDER BY regdate DESC
	</select>
	
	<!-- 회원 상세조회 -->
	<select id="retrieve" parameterType="String" resultType="com.mbeti.domain.MemberVO">
		SELECT	*
		 FROM tbl_USER
		 WHERE userID = #{userID}
	</select>
   
   	<!-- 회원정보 수정 -->
	<update id="memberUpdate" parameterType="com.mbeti.domain.MemberVO">
		UPDATE tbl_USER SET
		mb = #{mb},
		userName = #{userName},
		userPassword = #{userPassword},
		userEmail = #{userEmail},
		keyword1 = #{keyword1},
		keyword2 = #{keyword2},
		keyword3 = #{keyword3},
		keyword4 = #{keyword4},
		keyword5 = #{keyword5}
		WHERE userID = #{userID}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="memberDelete" parameterType="String">
		DELETE 
		  FROM tbl_USER
		 WHERE userID = #{userID}
	</delete>
	
	<!-- 회원리스트 페이징 -->
<!-- 		<select id="listPage" resultType="com.mbeti.domain.MemberVO" parameterType="com.mbeti.domain.Criteria">
		SELECT *
		FROM ( 
			SELECT *, 
				   ROW_NUMBER() OVER(ORDER BY regdate DESC) AS RNUM
			 FROM tbl_USER 
						   ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY regdate DESC
	</select> -->
	
	<!-- 회원 갯수 -->
<!-- 	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(enabled)
		FROM tbl_USER
		WHERE enabled > 0
	]]>
	</select> -->
	
	<!-- 회원검색 + 페이징 -->
	<select id="listPage" resultType="com.mbeti.domain.MemberVO" parameterType="com.mbeti.domain.SearchCriteria">
		SELECT  *
		 FROM ( 
		        SELECT *, 
		               ROW_NUMBER() OVER(ORDER BY regdate DESC) AS RNUM
		         FROM tbl_USER
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY regdate DESC
	</select>
	
	<!-- 회원검색 + 갯수 -->
		<select id="listCount" parameterType="com.mbeti.domain.SearchCriteria" resultType="int">
			SELECT COUNT(enabled)
			   FROM tbl_USER
			   WHERE 1=1
			<include refid="search"></include>	
			   AND enabled > 0
		</select>
	
	<!-- 회원검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">AND userID LIKE CONCAT ('%',#{keyword},'%')</if>
			<if test="searchType == 'n'.toString()">AND userName LIKE CONCAT  ('%',#{keyword},'%')</if>
			<if test="searchType == 'm'.toString()">AND userEmail LIKE CONCAT  ('%',#{keyword},'%')</if>
			<if test="searchType == 'e'.toString()">AND enabled LIKE CONCAT  ('%',#{keyword},'%')</if>
		</if>
	</sql>
	
	<!-- 회원 삭제 -->
	<delete id="deleteUser" parameterType="String">
	    delete 
	    from tbl_user
	    where userID = #{userID}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
   
</mapper>